/*all pages*/

@font-face {
    font-family: orchidee;
    src: url(orchidee/ORCHM___.TTF);
}

@font-face {
    font-family: orchideeLight;
    src: url(orchidee/ORCHL___.TTF);
}

body {
	background-image: url(images/cover.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	color: white;
	font-family: orchideeLight;
	padding:0px;
	width: 900px;
	margin: 0 auto;
}

#title {
	font-family: orchidee;
	margin-top: 20px;
}

a {
	list-style: none;
	color: white;
	text-decoration: none;
}

a:hover{
	color: #20FF4C;
	text-decoration: overline;
}

#navi a {
	display: inline-block;
	text-align: right;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 10px;
	font-family: orchidee;
}

#social img {
	width: 75px;
	height: 75px;
}

#one {
	position: fixed;
	top: 0px;
	right:10px;
}

#two {
	position: fixed;
	top: 75px;
	right:10px;
}

#three {
	position: fixed;
	top: 150px;
	right:10px;
}

#four {
	position: fixed;
	top: 225px;
	right:10px;
}


.flex-direction-nav {
  display:none;
}

.flex-control-nav {
  display:none !important;
}


/*Homepage*/

.flexslider img {
	width:810px;
	height:415px;
	border: solid 10px black;
	border-radius: 20px;
	margin-left: 20px;
}

.contact {
	text-align: center; 
	background: rgba(18, 42, 11, .7);
	padding-top: 10px;
	padding-bottom: 10px;
	width: 600px;
	margin: 0 auto;
	
}



/*Menu Page*/
#menu {
	background: rgba(18, 42, 11, .7);
	font-family: orchideeLight; 
	text-align: center;
	padding-top: 15px;
}



/*About Page*/
#about {
	width: 900px;
	background: rgba(18, 42, 11, .7);
	text-align: center; 
	padding-bottom: 15px;
}

.info {
	width: 900px;
}

.matcha {
	line-height: 200%
}

.right{
	line-height: 200%
}


/*Press*/
#lightbox{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;

	
	
}

#close {
	color: white;
	display: none;
}

#popup {
	height:400px;
	width:400px;
	color: white;
	background: green;
	position: absolute;
	top:0px;
	bottom:0px;
	left: 500px;
	right: 200px;
	margin-top:auto;
	margin-bottom:auto;
	padding: 20px;
	text-align: center;
	display:none;
	
}

.table {
	width: 300px;
	margin: 0 auto;
	padding-top: 20px;
	display: none;
}

